Package            Version
------------------ --------
certifi            2025.7.9
charset-normalizer 3.4.2
idna               3.10
pip                22.0.2
requests           2.32.4
setuptools         59.6.0
urllib3            2.5.0
